/*#controlPanel {*/
    /*width: 26%;*/
    /*height: 100%;*/
    /*float: left;*/
/*}*/

/*#netPanel {*/
    /*width: 30%;*/
    /*height: 100%;*/
/*}*/

/*#plotPanel {*/
    /*width: 30%;*/
    /*height: 100% ;*/
    /*float: right;*/
/*}*/

/*div {*/
    /*border: 1px solid lightgray;*/
    /*border-radius: 2px;*/
    /*padding: 3px;*/
    /*margin-left: 2px;*/
    /*margin-right: 2px;*/
/*}*/

.geneName, .geneSet {
    font-size: 1.2em;
}
html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
}

.column {
    flex: 1;
    border: 1px solid #e6e6e6;
    padding: 5px;
    margin: 3px;
    box-sizing: border-box;
    border-radius: 10px;
}

.column-control {
    order: 1;
    flex: 1 1 25%;
    height: 100vh;
    background-color: #e8e8e8;
}
.column-main {
    order: 2;
    flex: 3 1 60%;
}

.column-side {
    order: 3;
    flex: 1 1 25%;
    height: 100vh;
}

.column-main-double {
    order: 2;
    flex: 3;
}

@media all and (max-width: 500px) {
    .container {
        flex-direction: column;
    }
}

.label1 {
    font-weight: bold;
}

* {
    font-family: sans-serif;
}

#close{
    display:block;
    float:right;
    width:20px;
    height:20px;
    background-color: lightgrey;
    margin-right: 2px;
    margin-top: 2px;
    text-align: center;
    /*background:url(http://www.favicon.cc/?action=icon&file_id=784079) no-repeat center center;*/
}

.coexpression {
    display:block;
    float: right;
    background-color: cornflowerblue;
    border-radius: 4px;
    /*background:url(http://www.favicon.cc/?action=icon&file_id=784079) no-repeat center center;*/
}

.ui-slider-range  {
    /*border-color: #222222;*/
    background: cornflowerblue;
}

.ui-slider-handle {
    border-color: #1c94c4;
}

span.ui-selectmenu-text {
    padding: 0.1em 0.1em 0.1em 1em;
    /*font-size: 0.7em;*/
    line-height: 1.1;
    font-weight:normal;
}

.ui-slider .ui-slider-handle {
    width: 0.2em;
    height: 0.8em;
}

.ui-slider-horizontal {
    top: 0.5em;
    height: .3em;
    bottom: 1.2em;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    margin-left: -0.1em;
}

.ui-checkbox-radio-label {
    background-color: white;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: 0.95em;
    line-height: 1.8em;
}

.ui-widget-header {
    background: #e6e6e6;
}

table.dataTable tbody>tr.selected {
    background-color: rgba(27,157,236,0.4);
}

table.dataTable tbody>tr:hover {
    background-color: #efefef;
}

table.dataTable tbody>tr.selected:hover {
    background-color: rgba(27,157,236,0.6);
}

.tooltip {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff;
}
